page-studymaterial {
#pdf{
    width: auto;
    border: 2px;
    border-style: solid;
    border-color: black;
}

#vids{
    float: left;
    padding: 2%;
    margin: 0.2cm;
}
#disp{
    font-size: 20px;
    text-align: center;

}

#row{
    width: 50%;
}

}
