page-home {
	background-color: lightblue;
	
}

body
{
    background-color: lightblue;
}



h2{
    text-align: center;
    background-color: rgb(255, 247, 247);
    width: 50%;
    margin-left:27%;
    border-radius: 15px;


}

h1{
 color:  rgb(196, 28, 28);
 letter-spacing:2px;
 text-shadow: 2px 1px rgb(233, 179, 179);

 font-family: 'Bungee', cursive;
  font-size: 180%;
}

.titl{
    color:  rgb(196, 28, 28);
    letter-spacing:2px;
    text-shadow: 2px 1px rgb(233, 179, 179);
   
    font-family: 'Bungee', cursive;
     font-size: 200%;
   }



.a1
{
    background-color: black; 
    color: white; 
    padding: 8px; 
}

.a2
{
    color: white; 
    padding: 8px; 
}

.a3
{
    //background-color: rgb(196, 28, 28); 
    width: 20%;

}
.fg{
 background-color: rgb(198, 41, 36);
 padding-left: 30%;
}

.bold1{
    color: rgb(82, 77, 77);
    font-size: 150%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    font-weight: bold;
    text-align:center;


}

.nav1
{
padding-left:60%;

}
.text1
{
    color: rgb(82, 77, 77);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 160%;
}

.types{
   //padding-left:35%;
   width:100%;
   font-weight:bold;
   padding-left:25%;
  
}

#a:hover{
	background-color: brown
}






