page-loggedin {


#types{
    margin-top: 50%;
    margin-bottom: 50%;
}
.types{

    align-content: center;
    padding-left: 39%;

}

.pro
{
    font-weight: bold;
    font-size: 150%;
    color: #757272;
    text-align: center;
}

.jumbotron
{
    margin-right: 50%;
}

}
 